@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tiny5&family=VT323&display=swap');

/*old monitor background cover the screen and dont move*/
body{
background-image: url(../img/bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
overscroll-behavior-y: none;
background-size: 100% 100%;
}

/*header and subtitle*/
h1{
    font-family:"Press start 2p", VT323,Tiny5 serif;
    text-shadow: 2px 2px lightgreen;
    font-size: 20px;
}
h2{
    font-family: Tiny5,VT323,"Press start 2p",serif;
    font-size:15px;
}
/*main paragraph*/
section{
    border-radius: 10%;
    margin-top: 10%;
    height: 85%;
    width: 85%;
    margin-left: 10%;
    color: green;
    height: 90%;
}
section p{
    width: 70%;
    font-size: 1.5rem;
    font-family:vt323, tiny5,"Press start 2p",serif;
    hyphens: auto;
    word-wrap: break-word;
}



/*letter examples*/
div{
    border-radius: 10%;
    margin-top: 15%;
    height: 85%;
    width: 85%;
    margin-left: 10%;
    color: green;
    height: 90%;
}
div p{
    width: 70%;
    font-size: 3rem;
    font-family:vt323, tiny5,"Press start 2p",serif;
    hyphens: auto;
    word-wrap: break-word;
}
div p:nth-child(1){
    font-family: vt323;
    font-size: 3rem;
    color: green;
}
div p:nth-child(2){
    font-family: "Press start 2p";
    font-size: 1.5rem;
    color: green;
}
div p:nth-child(3){
    font-family: tiny5;
    font-size: 3rem;
    color: green;
}
div p:nth-child(4){
    font-family: vt323;
    font-size: 3rem;
    color: green;
}
div p:nth-child(5){
    font-family: "Press start 2p";
    font-size: 1.5rem;
    color: green;
}
div p:nth-child(6){
    font-family: tiny5;
    font-size: 3rem;
    color: green;
}

footer{
    margin-bottom: 1%;
}
/*links*/
a{
    margin-left: 10%;
    font-family: "Press start 2p",tiny5,VT323 ;
    font-size: 1rem;
    color: darkgreen;
}
a:hover{
    color: lightgreen;
}
div a{
    font-size: 2rem;
}